In [225]:
import pandas as pd
import numpy as np

In [226]:
def load_data():
    df = pd.read_csv('data\olympics.csv',skiprows=[0])
    df.columns = ['country','#summer', 'Gold', 'Silver','Bronze','Total','#Winter', 'Gold', 'Silver','Bronze','Total','#Game', 'Gold', 'Silver','Bronze','Combined Total']
    df.replace(u'\xa0',u'', regex=True, inplace=True)
    df = df.replace('\(.+?\)|\[.+?\]\s*','',regex=True).set_index('country')
    
    df=df.drop('Total',axis=1)
    df=df.drop('Combined Total',axis=1)
    return df

In [227]:
df=load_data()
df

,#summer,Gold,Silver,Bronze,#Winter,Gold,Silver,Bronze,#Game,Gold,Silver,Bronze
country,,,,,,,,,,,,
Afghanistan,13,0,0,2,0,0,0,0,13,0,0,2
Algeria,12,5,2,8,3,0,0,0,15,5,2,8
Argentina,23,18,24,28,18,0,0,0,41,18,24,28
Armenia,5,1,2,9,6,0,0,0,11,1,2,9
Australasia,2,3,4,5,0,0,0,0,2,3,4,5
Australia,25,139,152,177,18,5,3,4,43,144,155,181
Austria,26,18,33,35,22,59,78,81,48,77,111,116
Azerbaijan,5,6,5,15,5,0,0,0,10,6,5,15
Bahamas,15,5,2,5,0,0,0,0,15,5,2,5
Bahrain,8,0,0,1,0,0,0,0,8,0,0,1
Barbados,11,0,0,1,0,0,0,0,11,0,0,1
Belarus,5,12,24,39,6,6,4,5,11,18,28,44
Belgium,25,37,52,53,20,1,1,3,45,38,53,56
Bermuda,17,0,0,1,7,0,0,0,24,0,0,1
Bohemia,3,0,1,3,0,0,0,0,3,0,1,3
Botswana,9,0,1,0,0,0,0,0,9,0,1,0
Brazil,21,23,30,55,7,0,0,0,28,23,30,55
British West Indies,1,0,0,2,0,0,0,0,1,0,0,2
Bulgaria,19,51,85,78,19,1,2,3,38,52,87,81
Burundi,5,1,0,0,0,0,0,0,5,1,0,0
Cameroon,13,3,1,1,1,0,0,0,14,3,1,1
Canada,25,59,99,121,22,62,56,52,47,121,155,173
Chile,22,2,7,4,16,0,0,0,38,2,7,4
China,9,201,146,126,10,12,22,19,19,213,168,145
Colombia,18,2,6,11,1,0,0,0,19,2,6,11
Costa Rica,14,1,1,2,6,0,0,0,20,1,1,2
Ivory Coast,12,0,1,0,0,0,0,0,12,0,1,0
Croatia,6,6,7,10,7,4,6,1,13,10,13,11
Cuba,19,72,67,70,0,0,0,0,19,72,67,70
Cyprus,9,0,1,0,10,0,0,0,19,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka,16,0,2,0,0,0,0,0,16,0,2,0
Sudan,11,0,1,0,0,0,0,0,11,0,1,0
Suriname,11,1,0,1,0,0,0,0,11,1,0,1
Sweden,26,143,164,176,22,50,40,54,48,193,204,230
Switzerland,27,47,73,65,22,50,40,48,49,97,113,113
Syria,12,1,1,1,0,0,0,0,12,1,1,1
Chinese Taipei,13,2,7,12,11,0,0,0,24,2,7,12
Tajikistan,5,0,1,2,4,0,0,0,9,0,1,2
Tanzania,12,0,2,0,0,0,0,0,12,0,2,0
Thailand,15,7,6,11,3,0,0,0,18,7,6,11
Togo,9,0,0,1,1,0,0,0,10,0,0,1
Tonga,8,0,1,0,1,0,0,0,9,0,1,0
Trinidad and Tobago,16,2,5,11,3,0,0,0,19,2,5,11
Tunisia,13,3,3,4,0,0,0,0,13,3,3,4
Turkey,21,39,25,24,16,0,0,0,37,39,25,24
Uganda,14,2,3,2,0,0,0,0,14,2,3,2
Ukraine,5,33,27,55,6,2,1,4,11,35,28,59
United Arab Emirates,8,1,0,0,0,0,0,0,8,1,0,0
United States,26,976,757,666,22,96,102,84,48,1072,859,750
Uruguay,20,2,2,6,1,0,0,0,21,2,2,6
Uzbekistan,5,5,5,10,6,1,0,0,11,6,5,10
Venezuela,17,2,2,8,4,0,0,0,21,2,2,8
Vietnam,14,0,2,0,0,0,0,0,14,0,2,0
Virgin Islands,11,0,1,0,7,0,0,0,18,0,1,0
Yugoslavia,16,26,29,28,14,0,3,1,30,26,32,29
Independent Olympic Participants,1,0,1,2,0,0,0,0,1,0,1,2
Zambia,12,0,1,1,0,0,0,0,12,0,1,1
Zimbabwe,12,3,4,1,1,0,0,0,13,3,4,1
Mixed team,3,8,5,4,0,0,0,0,3,8,5,4
Totals,27,4809,4775,5130,22,959,958,948,49,5768,5733,6078

In [228]:
def first_country(df):
    return(df.iloc[0])

In [229]:
print(first_country(df))

#summer    13
Gold        0
Silver      0
Bronze      2
#Winter     0
Gold        0
Silver      0
Bronze      0
#Game      13
Gold        0
Silver      0
Bronze      2
Name: Afghanistan, dtype: int64

In [230]:
def gold_medal(df):
    a=df.values
    n=a.shape
    a=np.delete(a, n[0]-1, 0)
    x=a[:, 1]
    max=a.max(axis=0)
    max=max[1]
    

    index = np.where(x==max)

    country=df.index.values
    for i in index:
        temp=country[i]
    str1 = " ".join(temp)
    return str1.strip()

In [231]:
gold_medal(df)

'United States'

In [232]:
def biggest_difference_in_gold_medal(df):
    a=df.values
    n=a.shape
    a=np.delete(a, n[0]-1, 0)
    x=a[:, 1]
    y=a[:, 5]
    z=np.subtract(x, y)
    max=z.max(axis=0)
    index = np.where(z==max)
    country=df.index.values
    for i in index:
        temp=country[i]
    str1 = " ".join(temp)
    return str1.strip()

In [233]:
biggest_difference_in_gold_medal(df)

'United States'

In [234]:
def get_points(df):
    a=df.values
    n=a.shape
    x=a[:, 9]
    y=a[:, 10]
    z=a[:,11]
    x=np.multiply(x, 3)
    y=np.multiply(y, 2)
    df=df.assign(Points = x + y + z)
    x=df['Points']
    return x

In [235]:
get_points(df)

country
Afghanistan                              2
Algeria                                 27
Argentina                              130
Armenia                                 16
Australasia                             22
Australia                              923
Austria                                569
Azerbaijan                              43
Bahamas                                 24
Bahrain                                  1
Barbados                                 1
Belarus                                154
Belgium                                276
Bermuda                                  1
Bohemia                                  5
Botswana                                 2
Brazil                                 184
British West Indies                      2
Bulgaria                               411
Burundi                                  3
Cameroon                                12
Canada                                 846
Chile                                   24
China                                 1120
Colombia                                29
Costa Rica                               7
Ivory Coast                              2
Croatia                                 67
Cuba                                   420
Cyprus                                   2
                                     ...
Sri Lanka                                4
Sudan                                    2
Suriname                                 4
Sweden                                1217
Switzerland                            630
Syria                                    6
Chinese Taipei                          32
Tajikistan                               4
Tanzania                                 4
Thailand                                44
Togo                                     1
Tonga                                    2
Trinidad and Tobago                     27
Tunisia                                 19
Turkey                                 191
Uganda                                  14
Ukraine                                220
United Arab Emirates                     3
United States                         5684
Uruguay                                 16
Uzbekistan                              38
Venezuela                               18
Vietnam                                  4
Virgin Islands                           2
Yugoslavia                             171
Independent Olympic Participants         4
Zambia                                   3
Zimbabwe                                18
Mixed team                              38
Totals                               34848
Name: Points, Length: 147, dtype: int64

In [283]:
def k_means() :
    df1 = df.iloc[:,9:12].copy()
    from sklearn.cluster import KMeans
    kmeans = KMeans(n_clusters=3)
    kmeans.fit(df1)
    labels = kmeans.predict(df1)
    centroids = kmeans.cluster_centers_
    labels = kmeans.predict(df1)
    centroids = kmeans.cluster_centers_
    return (centroids)

In [284]:
k_means()

array([[   12.22307692,    14.65384615,    16.8       ],
       [ 5768.        ,  5733.        ,  6078.        ],
       [  261.1875    ,   239.25      ,   243.375     ]])